<%- include("partials/header.ejs"); -%>
<body class="bg">
    <div class="margin">
        <img src="profile.png" alt="bharath"  width="150" height="225">
        
            
                <h4>I design & develop websites<h4>
                    
                    <h5><strong>About</strong></h5><br>
                    
                        <h6>Hi, I'am Bharath. I am human with over 1+ year of experiances in 
                            wide range of design and developing diciplines.</h6><br>
                        <h6>I don’t like to define myself by the work I’ve done. 
                            I define myself by the work I want to do. Skills can be taught, personality is inherent. 
                            I prefer to keep learning, continue challenging myself,
                            and do interesting things that matter.<h6><br>
                        <h6>My abundant energy fuels me in the pursuit of many interests, 
                            hobbies, areas of study and artistic endeavors. 
                            I’m a fast learner, able to pick up new skills.</h6><br>
                        <h6>You can read more about my biography, experience, skills,
                            education and much more in the PDF attached bellow:</h6>
                    </div>
                   
                </div>
            
    
        
    <div class="link ">
        <a class="on-hover-40 text-color-red hover" href="https://drive.google.com/file/d/1cV3Y6h1ElHBsDW9YKPG0Y0L_12j9Elnj/view?usp=sharing" target="_blank">My Resume (pdf)</a>
    </div>
   
    
    

    
    
    
<%- include("partials/footer"); -%>








