<%- include("partials/header.ejs"); -%>
<body class="bg">
    <h3>Let's make something</h3> 
    <h3>good!</h3><br><br><br><br>
    <h4>Contact</h4><br>
    <h6>I'm seeking out opportunities to collaborate with 
        companies / agencies / individuals, not just work for them. 
        I want to bring my collective design experience to the table 
        where we can work together to solve real business-problems in a way that
        optimizes all of our respective experience and knowledge.</h6><br>
    <h6>Feel free to reach out through any platforms bellow:</h6><br>
    <div class="links">
        <a class="on-hover-40 text-color-red hover" href="mailto:bharathahy640@gmail.com" >Email</a>
        <a class="on-hover-40 text-color-red hover" href="https://www.facebook.com/bharatha.bharathahy" target="_blank">Facebook</a>
        <a class="on-hover-40 text-color-red hover" href="https://www.instagram.com/" target="_blank">Instagram</a>
        <a class="on-hover-40 text-color-red hover" href="https://www.linkedin.com/in/bhxrxthx " target="_blank">Linkedin</a>
        <a class="on-hover-40 text-color-red hover" href="https://github.com/bharath-svg" target="_blank">Github</a>
       
    </div>
   
    
    
</body>








<%- include("partials/footer"); -%>

