<%- include("partials/header.ejs"); -%>
<body class="bg">
    <a href="https://pure-escarpment-74497.herokuapp.com/">
        <div class="on-hover-40 hide-text-block work-block">
            <h4 class="text-color-white">Todo list App</h4><br>
            <p class="size-small text-color-red">A web app Deal with multitasking requirements. </p><br>
            <button class="btn" type="submit"> <b>Click me</b> </button>
        </div>
    </a>
    <hr class="border">
    <a href="https://boiling-shelf-61944.herokuapp.com/">
        <div class="on-hover-40 hide-text-block work-block">
            <h4 class="text-color-white">Signup page</h4><br>
            <p class="size-small text-color-red">A signup page connected with mailchimps. </p><br>
            <button class="btn" type="submit"> <b>Click me</b> </button>
        </div>
    </a>
    <hr class="border">

    <a href="https://bharath-svg.github.io/simon-game/">
        <div class="on-hover-40 hide-text-block work-block">
            <h4 class="text-color-white">Simon game</h4><br>
            <p class="size-small text-color-red">A web app called simon game. </p><br>
            <button class="btn" type="submit"> <b>Click me</b> </button>
        </div>
    </a>
    <hr class="border">

    <a href="https://bharath-svg.github.io/drum-kit/">
        <div class="on-hover-40 hide-text-block work-block">
            <h4 class="text-color-white">Drum kit app</h4><br>
            <p class="size-small text-color-red">A web app called drum kit.</p><br>
            <button class="btn" type="submit"> <b>Click me</b> </button>
        </div>
    </a>
    <hr class="border">

    <a href="https://bharath-svg.github.io/charlie-website/">
        <div class="on-hover-40 hide-text-block work-block">
            <h4 class="text-color-white">Charlie website</h4><br>
            <p class="size-small text-color-red">A simple static website of dog.</p><br>
            <button class="btn" type="submit"> <b>Click me</b> </button>
        </div>
    </a>
    <hr class="border">

    <a href="https://fast-hamlet-10802.herokuapp.com/">
        <div class="on-hover-40 hide-text-block work-block">
            <h4 class="text-color-white">Journal website</h4><br>
            <p class="size-small text-color-red">A journal website where u can post journals.</p><br>
            <button class="btn" type="submit"> <b>Click me</b> </button>
        </div>
    </a>
    <hr class="border">

    <a href="https://powerful-journey-50799.herokuapp.com/">
        <div class="on-hover-40 hide-text-block work-block">
            <h4 class="text-color-white">Weather web-app</h4><br>
            <p class="size-small text-color-red">We can access Weather reports across the world.</p><br>
            <button class="btn" type="submit"> <b>Click me</b> </button>
        </div>
    </a>
    <hr class="border">

    <a href="https://bharath-svg.github.io/charlie-website/">
        <div class="on-hover-40 hide-text-block work-block">
            <h4 class="text-color-white">Charlie website</h4><br>
            <p class="size-small text-color-red">A simple static website of dog.</p><br>
            <button class="btn" type="submit"> <b>Click me</b> </button>
        </div>
    </a>
    <hr class="border">
    
</body>





<%- include("partials/footer"); -%>